body 
{
    background-color: white;
    display: flex; /*Para poner el footer al pie tambien en body hay */
    flex-direction: column; /*Para poner el footer al pie tambien en body hay */
    min-height: 100vh; /*Para poner el footer al pie tambien en body hay */
}
.nav-item{

  color: black;

}
.navegador{
    
    font-size: 17px;
}

.centrarlogo
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 120px;
   
   
   
}
.logo
{
    width: 300px;
    height: 100px;
   

}

.buscador1 /*centrado de toda la barra con la imgaenes*/
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    

   
    
}
.buscador2 /*Contorno de la barra de navegacion*/
{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 100px;         /*El radio del buscador*/
    border: 1px solid #e4e4e4; /*Poner el color del borde*/
    width: 650px;
    margin-bottom: 0px;
    font-size: 17px;    /*Tamaño de la letra interna de la barra del buscador*/
    
}

.input /*La entrada de datos de la barra aqui escribimos*/
{
    
    height: 50px;
    width: 900px;
    border: none;
    outline: none;
    padding: 10px;


    
      
}
.lupa /*Lupa del buscador*/
{
    margin-left:10px;
    border: none; /*No hay border*/
    outline: none;/*sin linea*/
    color:  #6e6a6a;
}
.imagenes
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; /*No hay border*/
    outline: none;/*sin linea*/
    
    
}
.cajabarra /*Dos botones de google de buscador*/
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    
    
}
.barra1
{
    padding-right: 0%;
    height: 35px;
    width: 170px;
    border-radius: 8px;
    border: 1px solid #e4e4e4;
    font-size: 15px;
}
.barra2
{
    padding-left: 0%;
    height: 35px;
    width: 170px;
    border-radius: 7px;
    border: 1px solid #e4e4e4;
    font-size: 15px;
}
.pagina
{
    display: flex;
    align-items: center;
    justify-content: center; 
    
}
footer
{
    
    margin-top: auto; /*Para poner el footer al pie tambien en body hay */
    background-color: rgb(243, 240, 240);
    
    
}

.pie
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #e4e4e4; /*Poner borde */
}
.pais
{
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 25px;
    
}

.link2  /*Hacemos espaciado de las letras del footer*/
{
    margin: 10px;
    font-size: 14px;
    color:rgb(141, 137, 137);
}
.mexico
{
   
    font-size: 14px;
    color:rgb(141, 137, 137);
}




